<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Sisinfo</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body class="p-3 mb-2 bg-dark text-white">
<marquee bgcolor="gray" behavior="alternate" width="100%" height="100" scrolldelay="200">
    <marquee width="60" height="60" behavior="alternate" direction="right" loop="0" scrolldelay="200">
        <img src="https://www.stickpng.com/assets/thumbs/585965314f6ae202fedf2863.png" width="50" height="50" alt="Tutorials">
    </marquee>
    <marquee width="60" height="60" behavior="alternate" direction="down" loop="0" scrolldelay="200">
        <img src="https://www.stickpng.com/assets/thumbs/585965314f6ae202fedf2863.png" width="50" height="50" alt="Tutorials">
    </marquee>
    <marquee width="60" height="60" behavior="alternate" direction="left" loop="0" scrolldelay="200">
        <img src="https://www.stickpng.com/assets/thumbs/585965314f6ae202fedf2863.png" width="50" height="50" alt="Tutorials">
    </marquee>
    <marquee width="60" height="60" behavior="alternate" direction="up" loop="0" scrolldelay="200">
        <img src="https://www.stickpng.com/assets/thumbs/585965314f6ae202fedf2863.png" width="50" height="50" alt="Tutorials">
    </marquee>

</marquee>


<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="propietario/new">NEW PROPIETARIO <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="mascota/new">NEW MASCOTA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="vacuna/new">NEW VACUNA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="vacunas">LISTAR VACUNA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="propietarios">LISTAR PROPIETARIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="mascotas">LISTAR MASCOTA</a>
            </li>

        </ul>
    </div>
</nav>

</body>

</html>