<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/municipioActualizar" method="POST">
    <input type="hidden" name="idMunicipio" th:value="${muni.idMunicipio}">
    <b>Nombre: </b>
    <input type="text" name="nombre" th:value="${muni.nombre}">
    <b>Fecha: </b>
    <input type="date" name="fecha" th:value="${muni.fecha}">
    <input type="submit" name="actualizarMunicipio"/>
</form>
</body>
</html>
