<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Lista de Usuarios</h1>
<table>
    <tr>
        <td>Id</td>
        <td>NombreUsuario</td>
        <td>FechadeNacimiento</td>
    </tr>

    <tr th:each="listarUsuario: ${listarUsuario}">
        <td th:text="${listarUsuario.id}"></td>
        <td th:text="${listarUsuario.nombre}"></td>
        <td th:text="${listarUsuario.fecnac}"></td>
        <td>
            <a th:href="@{/usuariosh/}+${listarUsuario.id}">detalle</a>
            <a th:href="@{/editUsuario/}+${listarUsuario.id}">editar</a>
            <a th:href="@{/elimUsu/}+${listarUsuario.id}">eliminar</a>
        </td>
    </tr>



</table>
</body>
</html>